<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form method="POST" action="/">
      <label for="Email">Email:</label>
      <input type="text" id="email" name="email" required /><br />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required /><br />

      <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/register">Register</a></p>

    {% if error %}
    <div class="alert alert-danger"><strong>Error:</strong> {{ error }}</div>
    {% endif %}
  </body>
</html>
